
body{	
	background-image: url(../images/beach.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
    text-align: center;
}

header{
  font-size: 72px;
  color: #CC0C13;
}

nav{
  background-color: black;
  font-size: 20px;
  height: 50px;
  padding: auto;
  margin: 2%; 
}
.nav{
  display: inline-block;
}
.footer{
  display: inline-block;
}

.carsel{
  margin-bottom: 5px;
  display: block;
  text-align: center;
  height: 320px;
}

.circs{
  margin-top: 10px;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } 
.ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }

.insta{
  width: auto;
}

img{
  display: inline-block;
}

#cgl{
  text-align: center;
  width: 350px;
  height: 430px;
}

#body1{	
	background-image: url(../images/nightsky.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
}

@media(max-width:959px) {
	.headingbutton{
		height: 100%;
	}
	.site-title{
		height: 100%;
	}
	nav{
		height: 100%
	}
	.carousel .slide .carousel-inner{
		height: 100%
	}
}

@media(max-width:640px) {
	.headingbutton{
		height: 100%;
	}
	.site-title{
		height: 100%;
	}
	nav{
		height: 100%
	}
	.carousel .slide .carousel-inner{
		height: 100%
	}
}

@media (max-width:320px) {
	.headingbutton{
		height: 100%;
	}
	.site-title{
		height: 100%;
	}
	nav{
		height: 100%
	}

	.carousel .slide .carousel-inner{
		height: 33%
	}
}


#carousel1{
  	height: 650px;
  	border-radius: 15px;
}

#carousel2{
  	height: 650px;
  	border-radius: 15px;
}

#carousel3{
  	height: 650px;
  	border-radius: 15px;
}

#carousel4{
  	height: 650px;
  	border-radius: 15px;
}

#carousel5{
  	height: 650px;
  	border-radius: 15px;
}

#music{
	border-radius: 0px;
	padding: 0px;
	opacity: .9;
}

